<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hurrr.pokedexee.dao.PokemonMapper">	

	<resultMap type="Pokemon" id="pokemonResult">
		<id column="id" property="id"/>
		<association property="species" javaType="Species" column="speciesId" select="selectSpecies" columnPrefix="ps"/>
		<collection property="pokedexEntries" ofType="PokedexEntry" column="speciesId" select="selectPokedexEntries" columnPrefix="pdn"/>
	</resultMap>
	
	<resultMap type="Species" id="speciesResult">
		<id column="id" property="id"/>	
		<association property="names" javaType="Text" column="id" select="selectSpeciesNames" columnPrefix="psn"/>
	</resultMap>
	
	<resultMap type="Location" id="locationResult">
		<id column="id" property="id"/>
		<association property="location" javaType="Text" column="locationId" select="selectLocationNames" columnPrefix="ln"/>
		<association property="locationArea" javaType="Text" column="id" select="selectLocationAreaNames" columnPrefix="lan"/>
	</resultMap>
	
	<!-- Generic localized text mapper -->
	<resultMap type="Text" id="textResult">
		<collection property="entries" ofType="TextEntry" column="id">
			<result property="language" column="languageId"/>
			<result property="string" column="text"/>
		</collection>		
	</resultMap>
	<!-- Most of the text tables tend to follow this naming convention -->
	<sql id="selectProseTableStuffFrom">
		SELECT
			local_language_id AS languageId,
			name AS text
		FROM <!-- whateverTable WHERE idColumnWeHave = #{id} -->
	</sql>
	
	<!-- SQL Statements -->			
	<select id="selectPokemon" parameterType="int" resultType="Pokemon" resultMap="pokemonResult">
		SELECT 
			p.id AS id,
			p.'order' AS sortOrder, <!-- WRONG AND DANGER: using reserved keywords as column names -->
			p.height AS height,
			p.weight AS weight,
			p.base_experience AS baseExperience,
			p.species_id AS speciesId		
		FROM pokemon p			  
		WHERE p.id = #{id}
	</select>
	<select id="selectSpecies" parameterType="int" resultType="Species" resultMap="speciesResult">
		SELECT 
			ps.id AS id,
			ps.'order' AS sortOrder,
			ps.generation_id AS generationId,
			ps.growth_rate_id AS growthRateId,
			ps.capture_rate AS captureRate,	
			ps.base_happiness AS baseHappiness,
			ps.hatch_counter AS hatchCounter,
			ps.has_gender_differences AS genderDifferences,	
			ps.forms_switchable AS formsSwitchable,
			ps.shape_id AS shape,
			ps.habitat_id AS habitat,
			ps.color_id AS color
		FROM pokemon_species ps
		WHERE ps.id = #{id}				
	</select>	
	<select id="selectSpeciesNames" parameterType="int" resultType="Text" resultMap="textResult">
		<include refid="selectProseTableStuffFrom"/> pokemon_species_names
		WHERE pokemon_species_id = #{id}
	</select>
	<select id="selectPokedexEntries" parameterType="int" resultType="PokedexEntry">
		SELECT
			v.id AS gameVersion,
			pdn.species_id AS speciesId,
			pdn.pokedex_number AS number	
		FROM pokemon_dex_numbers pdn
			JOIN version_groups vg ON v.version_group_id = vg.id
			JOIN versions v ON vg.pokedex_id = pdn.pokedex_id
		WHERE pdn.species_id = #{id}
	</select>
	<select id="selectPokemonListEntries" parameterType="int" resultType="PokemonListEntry">
		SELECT
			pdn.species_id AS speciesId,
			pdn.pokedex_number AS pokedexNumber,
			ps.identifier AS identifier
		FROM pokemon_dex_numbers pdn
			JOIN pokemon_species ps ON pdn.species_id = ps.id
		WHERE pdn.pokedex_id = #{id}
	</select>
	<select id="selectLocation" parameterType="int" resultType="Location" resultMap="locationResult">
		SELECT 
			la.id AS id,
			l.region_id AS region,
			l.id AS locationId
		FROM locations l
			JOIN location_areas la ON la.location_id = l.id
		<if test="id != null">
		WHERE la.id = #{id}			
		</if>		
	</select>
	<select id="selectLocationNames" parameterType="int" resultType="Text" resultMap="textResult">
		<include refid="selectProseTableStuffFrom"/> location_names
		WHERE location_id = #{id}
	</select>
	<select id="selectLocationAreaNames" parameterType="int" resultType="Text" resultMap="textResult">
		<include refid="selectProseTableStuffFrom"/> location_area_prose
		WHERE location_area_id = #{id}
		AND name IS NOT NULL AND name &lt;&gt; ''
	</select>
	
	
</mapper>